<!DOCTYPE html>
<html>
  <head>
      <meta charset="UTF-8">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" />
      <title>Container Logger</title>
  </head>
  <body style="background-color: rgb(246, 247, 239);">
    
        <div style="margin-top: 50px;" class="ui two column centered grid">
            <div class="column center aligned">    
                <h1 style="font-size: 60px;" class="ui center aligned header">Could not connect to docker engine!</h1>        
                <h1  class="ui center aligned">Please make sure that docker is running and is 
                    accessible on: <code style="font-size: 25px;">/var/run/docker.sock</code></h1>
                <img class="ui centered large image" src="/docker_404.png">
            </div>
            
        </div>
  </body>
</html>